.top-sellers-section {
  padding: 12px;
  text-align: center;
}
.top-sellers-title {
  color: #3e0066;
  margin-bottom: 40px;
  font-size: 32px; 
  font-weight: 800;
  letter-spacing: -0.5px;
}

.top-sellers-add-btn {
  border: black solid;
  color: rgb(123, 115, 115);
  padding: 6px 9px;
  border: none;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
  width: 50%;
  transition: all 0.25s ease-in-out;
  display: inline-block;
}

.top-sellers-add-btn:hover {
  filter: brightness(1.1);
}

.top-sellers-add-btn:active {
  transform: scale(0.95);
}

/* Product Grid */
.top-sellers-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
}

.top-sellers-card {
  border: none; 
  border-radius: 16px; 
  background: #fff;
  overflow: hidden; 
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05); 
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
}

.top-sellers-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 30px rgba(62, 0, 102, 0.1);
}

.top-sellers-img {
  width: 100%;
  height: 240px;
  object-fit: contain; 
  background-color: #f9f9f9; 
  padding: 20px; 
  border-radius: 0;
}

.top-sellers-info {
  padding: 20px;
  text-align: left;
}
.top-sellers-product-title {
  color: #2d2d2d;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 7px;
  height: 20px; 
  overflow: hidden;
}
.top-sellers-price {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  color: #6a0dad;
  font-weight: bold;
  margin-bottom: 5px;
}
.top-sellers-back-top {
  margin-top: 25px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 100;
}
.top-sellers-back-top a {
  text-decoration: none;
  background: #6a0dad;
  color: #fff;
  padding: 10px 20px;
  border-radius: 25px;
  font-weight: 500;
  transition: 0.2s ease;
}
.top-sellers-back-top a:hover {
  background: #8e24aa;
}
@media (max-width: 1024px) {
  .top-sellers-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 768px) {
  .top-sellers-section {
    padding: 40px 20px;
  }

  .top-sellers-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

  .top-sellers-img {
    height: 200px;
  }
}
@media (max-width: 480px) {
  .top-sellers-grid {
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px;
  }

  .top-sellers-img {
    height: 160px; 
    object-fit: fill;
    border-radius: 12px;
  }

  .top-sellers-title {
    font-size: 20px;
  }

  .top-sellers-add-btn {
    width: 100%;
    padding: 7px 0;
    font-size: 6px;
  }

  .top-sellers-product-title {
    font-size: 14px;
  }

  .top-sellers-price {
    font-size: 14px;
  }
}
@media (max-width: 360px) {
  .top-sellers-grid {
    grid-template-columns: repeat(2, 1fr); 
  }
  .top-sellers-img {
    height: 140px;
  }
  .top-sellers-title {
    font-size: 18px;
  }

  .top-sellers-add-btn {
    font-size: 12px;
  }
}
